/* *{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(46, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.user{
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background-color: rgba(26, 24, 24, 0.726);
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid orange;
  margin-bottom: 20px;
  transition: all 0.7s;
}
.user:hover{
  scale: 1.05;
  background-color: rgba(69, 64, 64, 0.726);
}
.user button{
  padding: 8px 10px;
  background-color: red;
  border: 2px solid rgb(174, 210, 12);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
}
.image img{
  width: 80%;
}
.listUser{
  width: fit-content;
  background-color: rgb(41, 21, 21);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.listUser>button{
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 2px rgba(191, 109, 37, 0.538);

} */