*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.message{
    width: 500px;
    height: 100px;
    background-color: red;
    color: whitesmoke;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;

}
button{
    width: 500px;
    height: 100px;
    font-weight: bold;
    font-size: 50px;
    border-radius:20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:active{
    background-color: rgba(0, 0, 0, 0.094);
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}