article{
    min-width:200px;
    max-width: 200px;
    padding: 10px;
    /* background-color: rgb(39, 38, 38); */
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.237);
    border-radius: 20px;

}
article img{
    width: 100%;
    border-radius: 10px;
}
article .title{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
article .description{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0px;
    height: 70px;
}
article .price{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: red;
}
.product{
    display: flex;
    gap: 20px;
    overflow: auto;
    padding: 20px;
}
